<mat-drawer-container class="container-drawer">
  <mat-drawer
    mode="side"
    opened
    class="menu"
  >
    <h1>Peças</h1>
    <nav>
      <a
        routerLink="lista"
        routerLinkActive="selected"
      >Tabela de Peças</a> <br>
      <a
        routerLink="cadastro"
        routerLinkActive="selected"
      >Cadastrar nova Peças</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="conteudo">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Peças</mat-card-title>
        <mat-card-subtitle>
          Area para manutenção das peças dadastradas no sistema.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-elevation-z8">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
